In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import shapiro, kstest
import warnings
import csv

pd.set_option('display.max_columns',None)
warnings.filterwarnings("ignore")

In [4]:
df_sales = pd.read_csv("ventas.csv")
df_sales.head(2)

   ID_Cliente ID_Producto Fecha_Venta  Cantidad  Total
0         723          A1  2023-11-22         2  17.98
1         498          C3  2023-11-21         1   5.49

In [5]:
df_customers = pd.read_csv("clientes.csv")
df_customers.head(2)

,id,first_name,last_name,email,gender,City,Country,Address
0,1,Cheri,Dunsmore,cdunsmore0@instagram.com,Female,Palma De Mallorca,Spain,076 Rockefeller Crossing
1,2,Hunt,Bartomeu,hbartomeu1@nsw.gov.au,Male,Lugo,Spain,0046 Utah Junction

In [8]:
df_products = pd.read_csv("productos.csv")
df_products.head(2)

ParserError: Error tokenizing data. C error: Expected 2 fields in line 9, saw 4